body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  
}

.sidebar {
  width: 256px;
  height: 100%;
}

.logo .logo-link {
  width: 100%;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  color: #1a1a1a;
  border-bottom: 1px solid #e5e5e5;
}

.logo-link:hover {
  background-color: #f7f7f7;
}

.menu-group {
  border-bottom: 1px solid #e5e5e5;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.menu-group h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.menu-group .side-link {
  display: inline-flex;
  padding: 12px;
  border-radius: 32px;
  color: #1a1a1a;
  margin-bottom: 4px;
  border: 2px solid transparent;
}

.menu-group .side-link:not(.active):hover {
  background-color: #f7f7f7;
  transition: all ease-in 100ms;
}

.menu-group .side-link.active {
  color: #ea1e59;
  border: 2px solid #ea1e59;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100%;
  border-left: 1px solid #e5e5e5;
}

.main .header {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 32px;
}

.main .header h2 {
  font-size: 28px;
  font-weight: 400;
  color: #252525;
}

.main .body {
  width: 100%;
  height: 100%;
  padding: 8px;
  overflow-y: auto;
  background-color: #f1f1f1;
}

table + table {
  margin-top: 32px;
}