@import '../../styles/settings/prefix';
@import '../../design-tokens/build/scss/tokens';
@import '../../styles/tools/typography';

:host {
  display: inline-block;
}

.#{$prefix}-radio {
  display: flex;
  flex-direction: column
}

.#{$prefix}-radio__wrapper {
  @include type-style('label-01');

  display: flex;
  align-items: center;
  gap: $spacing-2x-small;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.#{$prefix}-radio__control {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc($radio-button-size-width * 1.125);
  height: calc($radio-button-size-height * 1.125);
  flex-shrink: 0;
  background-color: $radio-button-color-background;
  border-radius: $radio-button-border-radius;
  box-shadow: inset 0 0 0 1px $radio-button-color-border;
  color: $color-white;
  transition: all 200ms ease;
}

.#{$prefix}-radio__control::before {
  content: '';
  display: inline-block;
  width: $spacing-2x-small;
  height: $spacing-2x-small;
  background-color: $radio-button-color-text;
  border-radius: $radio-button-border-radius;
  opacity: 0;
  transition: all 200ms ease;
}

.#{$prefix}-radio__label {
  color: $radio-button-color-text;
}

:host([checked]) .#{$prefix}-radio__control::before {
  opacity: 1;
}

:host([disabled]) .#{$prefix}-radio__wrapper {
  cursor: not-allowed;
}

:host([disabled]) .#{$prefix}-radio__control {
  box-shadow: inset 0 0 0 1px $radio-button-color-disabled-border;
}

:host([disabled]) .#{$prefix}-radio__label {
  color: $radio-button-color-disabled-text;
}

:host([checked][disabled]) .#{$prefix}-radio__control::before {
  background-color: $radio-button-color-disabled-text;
}

:host(:not([disabled])) .#{$prefix}-radio__wrapper:focus-visible .#{$prefix}-radio__control {
  outline: 2px solid $checkbox-color-focus-border;
  transition: none;
}

:host fds-helper-text {
  margin-top: $spacing-2x-small;
  margin-inline-start: calc($spacing-medium * 1.625);
}