.#{$prefix}-btn-group {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 1px;
}

.#{$prefix}-btn-group .#{$prefix}-btn {
  border-radius: 0;
}

.#{$prefix}-btn-group .#{$prefix}-btn:first-child {
  border-radius: $button-border-radius 0 0 $button-border-radius;
}

.#{$prefix}-btn-group .#{$prefix}-btn:last-child {
  border-radius: 0 $button-border-radius $button-border-radius 0;
}

.#{$prefix}-btn-group
  .#{$prefix}-btn-group__btn.#{$prefix}-btn-group__btn--first {
  border-radius: $button-border-radius 0 0 $button-border-radius;
}

.#{$prefix}-btn-group
  .#{$prefix}-btn-group__btn.#{$prefix}-btn-group__btn--inner {
  border-radius: 0;
}

.#{$prefix}-btn-group
  .#{$prefix}-btn-group__btn.#{$prefix}-btn-group__btn--last {
  border-radius: 0 $button-border-radius $button-border-radius 0;
}
