@import '../../../core/settings/font';

@mixin page-reset {
  html {
    font-size: 100%;
  }

  body {
    @include font-scale-size('16');
    @include font-family('sans-serif');
    @include font-weight('regular');

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

@include page-reset();
