/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import '../../../dist/css/main.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
  --ifm-color-primary: #344461;
  --ifm-color-primary-dark: #202e49;
  --ifm-color-primary-darker: #121d31;
  --ifm-color-primary-darkest: #080e19;
  --ifm-color-primary-light: #d4d9df;
  --ifm-color-primary-lighter: #e5e9ec;
  --ifm-color-primary-lightest: #f7f9fa;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Inter', system-ui, -apple-system, segoe ui, roboto,
    ubuntu, cantarell, noto sans, sans-serif, blinkmacsystemfont, 'Segoe UI',
    helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --ifm-font-family-monospace: 'JetBrains Mono', sfmono-regular, menlo, monaco,
    consolas, 'Liberation Mono', 'Courier New', monospace;
  --ifm-navbar-background-color: var(--ifm-color-primary-darker);
  --ifm-navbar-link-color: #fafafa;
  --ifm-navbar-link-hover-color: #b2bcc9;
  --ifm-footer-background-color: var(--ifm-color-primary-darker);
  --ifm-color-warning-contrast-background: #faf5f0;
  --ifm-color-warning-dark: #ad5f00;
  --ifm-color-warning-contrast-foreground: #ad5f00;
  --ifm-table-head-background: var(--ifm-color-primary-lightest);
  --ifm-table-border-color: var(--ifm-color-primary-lighter);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ifm-font-family-base);
  font-size: 14px;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a:hover {
  color: unset;
}

.fds-link--primary:hover {
  color: #0f62fe;
}

.fds-link--primary:active {
  color: #002599;
}

.fds-link--dark:hover {
  color: #ffffff;
}

.fds-link--dark:active {
  color: #ffffff;
}

.markdown li + li {
  margin-top: 0;
}

.markdown p[class^='fds'] {
  margin: 0;
}

.markdown a[class^='fds']:not('fds-tooltip'):hover {
  text-decoration: none;
}

pre {
  white-space: pre !important;
}

.alert {
  border-left-width: 2px;
  border-radius: 0;
  box-shadow: none;
}

[class*='admonitionHeading_node'] {
  text-transform: capitalize !important;
}

.navbar {
  z-index: 9800;
}

.navbar__brand {
  margin-right: 2rem;
}

@media (max-width: 996px) {
  .menu__link {
    color: var(--ifm-color-primary-light);
  }

  .menu__link:hover,
  .menu__caret:hover {
    color: var(--ifm-color-primary-lighter);
  }

  .menu__link--active:not(.menu__link--sublist) {
    background-color: var(--ifm-color-primary-dark);
  }

  .clean-btn {
    color: var(--ifm-color-primary-light);
  }
}

.menu__link--sublist-caret::after {
  font-family: 'Font Awesome 6 Pro';
  content: '\f077';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.table-of-contents__link--active {
  font-weight: var(--ifm-font-weight-semibold);
}

.pagination-nav__sublabel {
  font-size: 12px;
  color: #505f79;
}

.pagination-nav__label {
  font-size: 14px;
  font-weight: var(--ifm-font-weight-semibold);
}

.pagination-nav__link--prev .pagination-nav__label::before {
  font-family: 'Font Awesome 6 Pro';
  content: '\f053';
  font-size: 12px;
  margin-right: 4px;
}

.pagination-nav__link--next .pagination-nav__label::after {
  font-family: 'Font Awesome 6 Pro';
  content: '\f054';
  font-size: 12px;
  margin-left: 4px;
}

.footer {
  background-color: var(--ifm-color-primary-darker);
}

[class*='playgroundContainer'] {
  border: 1px solid #e5e9ec;
  box-shadow: none !important;
}

[class*='playgroundHeader'] {
  display: none;
}

[class*='playgroundPreview'] {
  padding: 24px !important;
  background-color: #ffffff !important;
  background-image: radial-gradient(#e5e9ec 1px, transparent 0);
  background-size: 16px 16px;
}

[class*='playgroundEditor'] {
  border-top: 1px solid #e5e9ec;
}

[class*='playgroundEditor'] pre {
  border-radius: 0;
  padding: 24px !important;
  background-color: #f7f9fa !important;
  font-size: 14px;
}

@media (min-width: 997px) {
  .theme-doc-breadcrumbs {
    margin-left: -32px;
    margin-right: -48px;
  }
}

@media (min-width: 997px) {
  [class*='docItemCol'] {
    padding: 1rem 3rem;
  }
}

@media (min-width: 997px) {
  .markdown header {
    margin-left: -32px;
    margin-right: -48px;
  }
}

.markdown header {
  padding-inline: 32px;
  margin-bottom: 32px;
  background-color: #f7f9fa;
  padding-top: 64px;
  padding-bottom: 48px;
  border-radius: 12px;
}

.markdown h1:first-child {
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 1.25;
}

.markdown > h2 {
  font-size: 1.75rem;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 1.25;
}

.markdown > h3 {
  font-size: 1.5rem;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 1.25;
}

.markdown > h4 {
  font-size: 1.25rem;
  font-weight: var(--ifm-font-weight-bold);
  line-height: 1.25;
}

.markdown > p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
}

.demo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.demo-vertical {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
}

.justify-center {
  justify-content: center;
}

.min-h-200 {
  min-height: 200px !important;
}

.demo .fds-calendar {
  position: relative;
}

.color-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-box {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.color-box-wrapper > .color-box:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.color-box-wrapper > .color-box:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.spacing-box {
  background-color: var(--ifm-color-primary);
}

table .token {
  font-family: var(--ifm-font-family-monospace);
  background-color: var(--ifm-color-primary-lighter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: 8px;
  padding-block: 4px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: var(--ifm-font-weight-semibold);
}

.markdown table tr:nth-child(2n) {
  background-color: transparent;
}

.markdown table th,
.markdown table td {
  border: 0;
}

.markdown table td {
  width: 100%;
  vertical-align: middle;
}

.markdown table thead {
  background-color: transparent;
}

.markdown table thead tr {
  border-width: 1px;
  border-top: 0;
}

.markdown table thead tr th:first-child {
  border-top-left-radius: 6px;
}

.markdown table thead tr th:last-child {
  border-top-right-radius: 6px;
}

.icon-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 20px;
  width: 128px;
  height: 128px;
  border: 1px solid var(--ifm-color-primary-lighter);
  border-radius: 6px;
  text-align: center;
}

.fds-grid-container {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: #202e49;
  background-color: #d4d9df;
}

.fds-row [class*='col'] {
  box-shadow: 0 0 0 1px #344461;
  background-color: #344461;
}

.fds-row [class*='col'] .inside {
  height: 80px;
  background-color: #505f79;
  color: #ffffff;
}

.inside p {
  margin-bottom: 0;
  font-family: var(--ifm-font-family-monospace);
  font-size: 12px;
}

.fds-row .fds-row [class*='col'] {
  box-shadow: 0 0 0 1px #79889f;
  background-color: #79889f;
}

.fds-row .fds-row [class*='col'] .inside {
  background-color: #94a2b4;
}

td strong,
td code,
th code {
  white-space: nowrap;
}

h5[class*='fds'] {
  margin: 0;
}
