


@import 'prefix';
@import 'type';
@import 'radius';
@import 'spacing-v2';
@use "colorsv4" as *;




@mixin text-truncate() {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}




.#{$prefix}--tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  @include type-style('helper-text-01');
  @include radius('radius-pill');
  background-color: get-color(gray, 10);
  color: get-color(gray,70);
  cursor: default;

  &__label {
    @include text-truncate;
    padding: spacing('spacing-4') spacing('spacing-8');
  }

  &--dynamic:hover {
    background-color: get-color(gray,20);
  }

  // &--dynamic:focus {
  //   box-shadow: inset 0 0 0 2px get-color(blue, 60);
  //   outline: none;
  // }

  // &:hover {
  //   background-color: get-color(gray,20);
  // }

  // &:focus {
  //   box-shadow: inset 0 0 0 2px get-color(blue, 60);
  //   outline: none;
  // }

  // &:disabled,
  // &--disabled {
  //   color: get-color(gray,40);
  //   cursor: not-allowed;
  // }

  &--filter {
    cursor: pointer;
    padding-right: spacing('none');
    padding-bottom: spacing('none');
    padding-top: spacing('none');
  }

  &__close-icon {
    width: spacing('spacing-20');
    height: spacing('spacing-20');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: transparent;
    color: currentColor;
    padding: spacing('none');
    margin-top: spacing('spacing-2'); 
    margin-right: spacing('spacing-2'); 
    margin-bottom: spacing('spacing-2'); 
    @include radius('radius-pill');
    cursor: pointer;
    border: 0;

    &:hover {
      background-color: get-color(gray,30);
    }
  }
}



@mixin tag-variant($bg-color, $text-color: null) {
  background-color: $bg-color;
  color: $text-color;
}


.#{$prefix}--tag--blue {
  @include tag-variant(
    get-color(cool-gray,10),
  );
}

.#{$prefix}--tag--green {
  @include tag-variant(
    get-color(green,10),
  );
}

.#{$prefix}--tag--bronze {
  @include tag-variant(
    get-color(bronze,10),
  );
}

.#{$prefix}--tag--red {
  @include tag-variant(
    get-color(red,10),
  );
}

.#{$prefix}--tag--purple {
  @include tag-variant(
    get-color(purple,10),
  );
}

.#{$prefix}--tag--gray {
  @include tag-variant(
    get-color(gray,70),
    get-color(gray,10)
  );
}



// @each $color, $value in $theme-colors {
//   .#{$prefix}--tag--#{$color} {
//     @include tag-variant($value, $value);
//   }
// }
