@import '../../tools/animation';

.#{$prefix}-spinner {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $spinner-color-text;
  gap: $spinner-size-gap;
}

.#{$prefix}-spinner__label {
  @include type-style('label-01');
}

.#{$prefix}-spinner__icon {
  @include animation-spin;
}

.#{$prefix}-spinner--sm {
  gap: $spinner-size-small-gap;
}

.#{$prefix}-spinner--horizontal {
  flex-direction: row;
}

.#{$prefix}-spinner--primary .#{$prefix}-spinner__icon {
  color: $spinner-color-primary-text;
}

.#{$prefix}-spinner--secondary .#{$prefix}-spinner__icon,
.#{$prefix}-spinner--secondary .#{$prefix}-spinner__label {
  color: $spinner-color-secondary-text;
}
