.example .fds-row [class*='col'] {
  background-color: $color-blue-20;
  outline: 1px dashed $color-blue-30;
}

.example .inside {
  min-height: 64px;
  background-color: $color-blue-10;
}

.example .fds-row .fds-row [class*='col'] {
  background-color: $color-red-20;
  outline: 1px dashed $color-red-30;
}

.example .fds-row .fds-row .inside {
  background-color: $color-red-10;
}

.example .fds-row.fds-row--condensed [class*='col'] {
  background-color: $color-green-20;
  outline: 1px dashed $color-green-30;
}

.example .fds-row.fds-row--condensed .inside {
  min-height: 64px;
  background-color: $color-green-10;
}

.example .fds-row.fds-row--narrow [class*='col'] {
  background-color: $color-purple-20;
  outline: 1px dashed $color-purple-30;
}

.example .fds-row.fds-row--narrow .inside {
  min-height: 64px;
  background-color: $color-purple-10;
}
