@import '../src/design-tokens/build/scss/tokens';

// BUTTON
.input-new .fds-btn.fds-btn--disabled {
  background-color: $color-gray-10;
  box-shadow: inset 0 0 0 1px $color-gray-10;
}


// INPUT

.input-new .#{$prefix}-text-input::placeholder,
.input-new .#{$prefix}-text-area::placeholder {
  color: $color-gray-50;
}


.input-new .#{$prefix}-form-item__field-wrapper {
  box-shadow: inset 0 0 0 1px $color-gray-10;

  &:hover {
    box-shadow: inset 0 0 0 1px $color-gray-90;
  }
}


.input-new .fds-form-item__field-wrapper--outline-white[data-disabled] {
  background-color: $color-white;
  box-shadow: inset 0 0 0 1px $color-white;
}

.input-new
    .fds-form-item__field-wrapper--outline-white[data-disabled]
    .fds-text-input::placeholder,
  .input-new
    .fds-form-item__field-wrapper--outline[data-disabled]
    .fds-text-input::placeholder {
    color: $color-gray-30;
  }

.input-new .fds-form-item__field-wrapper--outline[data-disabled] {
  background-color: $color-gray-0;
  box-shadow: inset 0 0 0 1px $color-gray-0;
}


.input-new .fds-tablist .fds-tablist__tab--disabled {
  border-bottom: none;
}
