@import '../src/design-tokens/build/scss/tokens';

[class*='square__'] {
  display: inline-block;
  background-color: rgb(241 94 79 / 100%);
}

.square {
  &__2 {
    width: $spacing-4x-small;
    height: $spacing-4x-small;
  }

  &__4 {
    width: $spacing-3x-small;
    height: $spacing-3x-small;
  }

  &__8 {
    width: $spacing-2x-small;
    height: $spacing-2x-small;
  }

  &__12 {
    width: $spacing-x-small;
    height: $spacing-x-small;
  }

  &__16 {
    width: $spacing-medium;
    height: $spacing-medium;
  }

  &__24 {
    width: $spacing-large;
    height: $spacing-large;
  }

  &__32 {
    width: $spacing-x-large;
    height: $spacing-x-large;
  }

  &__40 {
    width: $spacing-2x-large;
    height: $spacing-2x-large;
  }

  &__48 {
    width: $spacing-3x-large;
    height: $spacing-3x-large;
  }
}
