@import '../src/scss/tools/spacing';

[class*='square__'] {
  display: inline-block;
  background-color: rgb(241 94 79 / 100%);
}

.square {
  &__2 {
    width: space('2');
    height: space('2');
  }

  &__4 {
    width: space('4');
    height: space('4');
  }

  &__8 {
    width: space('8');
    height: space('8');
  }

  &__12 {
    width: space('12');
    height: space('12');
  }

  &__16 {
    width: space('16');
    height: space('16');
  }

  &__24 {
    width: space('24');
    height: space('24');
  }

  &__32 {
    width: space('32');
    height: space('32');
  }

  &__40 {
    width: space('40');
    height: space('40');
  }

  &__48 {
    width: space('48');
    height: space('48');
  }
}
