$grid-columns: 12;
$grid-gutter: 32px;
$grid-gutter--condensed: 2px;
$advanced-grid-columns: 24;
$grid-column-size: 1fr;
$grid-breakpoints: (
  sm: (
    width: 600px,
    margin: 16px,
  ),
  md: (
    width: 900px,
    margin: 24px,
  ),
  lg: (
    width: 1300px,
    margin: 40px,
  ),
  xl: (
    width: 1500px,
    margin: 48px,
  ),
  2xl: (
    width: 1800px,
    margin: 48px,
  ),
) !default;
