$product-colors: (
  blue: (
    10:       hsl(216deg 50% 96% / 100%),
    20:       hsl(217deg 96% 89% / 100%),
    30:       hsl(217deg 100% 81% / 100%),
    40:       hsl(217deg 100% 73% / 100%),
    50:       hsl(217deg 100% 65% / 100%),
    60:       hsl(219deg 99% 53% / 100%),
    70:       hsl(223deg 100% 40% / 100%),
    80:       hsl(225deg 100% 30% / 100%),
    90:       hsl(228deg 100% 20% / 100%),
    100:      hsl(230deg 96% 10% / 100%),
  ),
  brown: (
    10:       hsl(9deg 57% 95% / 100%),
    20:       hsl(10deg 29% 84% / 100%),
    30:       hsl(12deg 22% 72% / 100%),
    40:       hsl(13deg 19% 61% / 100%),
    50:       hsl(13deg 16% 51% / 100%),
    60:       hsl(15deg 25% 34% / 100%),
    70:       hsl(16deg 45% 25% / 100%),
    80:       hsl(15deg 72% 18% / 100%),
    90:       hsl(15deg 91% 14% / 100%),
    100:      hsl(15deg 100% 10% / 100%),
  ),
  cool-gray: (
    10:       hsl(200deg 23% 97% / 100%),
    20:       hsl(210deg 22% 86% / 100%),
    30:       hsl(213deg 21% 75% / 100%),
    40:       hsl(214deg 19% 65% / 100%),
    50:       hsl(215deg 17% 55% / 100%),
    60:       hsl(218deg 20% 39% / 100%),
    70:       hsl(219deg 30% 29% / 100%),
    80:       hsl(220deg 39% 21% / 100%),
    90:       hsl(219deg 46% 13% / 100%),
    100:      hsl(219deg 52% 6% / 100%),
  ),
  gray: (
    10:       hsl(0deg 0% 96% / 100%),
    20:       hsl(0deg 0% 85% / 100%),
    30:       hsl(0deg 0% 73% / 100%),
    40:       hsl(0deg 0% 63% / 100%),
    50:       hsl(0deg 0% 52% / 100%),
    60:       hsl(0deg 0% 36% / 100%),
    70:       hsl(0deg 0% 24% / 100%),
    80:       hsl(0deg 0% 17% / 100%),
    90:       hsl(0deg 0% 11% / 100%),
    100:      hsl(0deg 0% 10% / 100%),
  ),
);
$semantic-colors: (
  green: (
    10:       hsl(126deg 50% 96% / 100%),
    20:       hsl(125deg 47% 80% / 100%),
    30:       hsl(124deg 45% 66% / 100%),
    40:       hsl(124deg 42% 54% / 100%),
    50:       hsl(125deg 52% 44% / 100%),
    60:       hsl(125deg 70% 28% / 100%),
    70:       hsl(125deg 84% 18% / 100%),
    80:       hsl(124deg 93% 12% / 100%),
    90:       hsl(126deg 100% 7% / 100%),
    100:      hsl(125deg 92% 5% / 100%),
  ),
  bronze: (
    10:        hsl(30deg 50% 96% / 100%),
    20:        hsl(33deg 60% 83% / 100%),
    30:        hsl(33deg 61% 70% / 100%),
    40:        hsl(33deg 59% 59% / 100%),
    50:        hsl(33deg 61% 49% / 100%),
    60:        hsl(33deg 100% 34% / 100%),
    70:        hsl(33deg 100% 28% / 100%),
    80:        hsl(32deg 100% 22% / 100%),
    90:        hsl(32deg 100% 16% / 100%),
    100:       hsl(32deg 96% 10% / 100%),
  ),
  red: (
    10:        hsl(354deg 50% 96% / 100%),
    20:        hsl(355deg 73% 87% / 100%),
    30:        hsl(356deg 78% 78% / 100%),
    40:        hsl(356deg 79% 70% / 100%),
    50:        hsl(356deg 80% 62% / 100%),
    60:        hsl(357deg 76% 49% / 100%),
    70:        hsl(357deg 90% 36% / 100%),
    80:        hsl(358deg 97% 27% / 100%),
    90:        hsl(357deg 100% 18% / 100%),
    100:       hsl(358deg 96% 10% / 100%),
  ),
  purple: (
    10:        hsl(264deg 50% 96% / 100%),
    20:        hsl(266deg 83% 88% / 100%),
    30:        hsl(266deg 88% 80% / 100%),
    40:        hsl(266deg 91% 73% / 100%),
    50:        hsl(266deg 93% 66% / 100%),
    60:        hsl(267deg 83% 52% / 100%),
    70:        hsl(269deg 89% 39% / 100%),
    80:        hsl(271deg 97% 28% / 100%),
    90:        hsl(273deg 100% 19% / 100%),
    100:       hsl(274deg 96% 10% / 100%),
  ),
);

$colors: map-merge($product-colors, $semantic-colors);
