@import 'tokens';

// (Kullanılan font aileleri bulunamaması halinde, kullanılacak diğer uygun fontların stack'e eklenmesi)
$font-families: (
  'sans-serif':
  unquote(
    "'Inter', 'Arial'"
  ),
  'mono':
  unquote(
    "'Jetbrains Mono', 'Arial'"
  ),
) !default;

$font-weights: (
  'regular':              400,
  'medium':               500,
  'semibold':             600,
  'bold':                 700,
) !default;

$font-sizes: (
  '12':                $size-xs,
  '14':                $size-sm,
  '16':                $size-base,
  '18':                $size-lg,
  '20':                $size-xl,
  '24':                $size-2xl,
  '28':                $size-3xl,
  '32':                $size-4xl,
  '36':                $size-5xl,
  '40':                $size-6xl,
  '42':                $size-7xl,
  '48':                $size-8xl,
) !default;
