@import 'tokens';

// (Kullanılan font aileleri bulunamaması halinde, kullanılacak diğer uygun fontların stack'e eklenmesi)
$fds-font-families: (
  'sans-serif':
  unquote(
    "'Inter', 'Arial'"
  ),
  'mono':
  unquote(
    "'Jetbrains Mono', 'Arial'"
  ),
) !default;

$fds-font-weights: (
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
) !default;

$fds-font-sizes: (
  '12': $size-xs,
  '14': $size-sm,
  '16': $size-md,
  '20': $size-xl,
  '24': $size-2xl,
  '28': $size-3xl,
  '32': $size-4xl,
  '40': $size-6xl,
) !default;

$fds-line-heights: (
  '14': $size-sm,
  '16': $size-md,
  '18': $size-lg,
  '20': $size-xl,
  '24': $size-2xl,
  '28': $size-3xl,
  '32': $size-4xl,
  '40': $size-6xl,
  '48': $size-8xl,
) !default;

$fds-letter-spacinges: (
  'regular': 0,
  'wide': 0.16px,
  'extra-wide': 0.32px,
) !default
