@mixin font-face-sans-serif {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: auto;
    src:
      url('../../globals/fonts/Inter-Light.woff2') format('woff2'),
      url('../../globals/fonts/Inter-Light.woff') format('woff'),;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src:
      url('../../globals/fonts/Inter-Regular.woff2') format('woff2'),
      url('../../globals/fonts/Inter-Regular.woff') format('woff'),;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src:
      url('../../globals/fonts/Inter-SemiBold.woff2') format('woff2'),
      url('../../globals/fonts/Inter-SemiBold.woff') format('woff'),;
  }
}
