@import '../../../design-tokens/build/scss/tokens';
@import '../../tools/button';
@import '../../tools/tag';

@mixin tag {
  .#{$prefix}-tag {
    @include tag-base;
  }

  .#{$prefix}-tag__label {
    @include truncate;

    flex-grow: 1;
    padding-right: $tag-size-default-padding;
    padding-left: $tag-size-default-padding;
    color: $tag-color-default-text;
  }

  .#{$prefix}-tag__icon {
    @include icon-size('sm');

    flex-shrink: 0;
  }

  .#{$prefix}-tag__btn-close {
    @include button-reset;

    display: inline-flex;
    width: calc($spacing-medium * 1.125);
    height: calc($spacing-medium * 1.125);
    align-items: center;
    justify-content: center;
    border-radius: $radius-circle;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 200ms ease;
    vertical-align: middle;

    @include button-variant(
      transparent,
      currentcolor,
      transparent,
      $color-gray-30,
      $color-gray-30,
      $color-gray-40,
      $color-gray-40
    );

    &:focus-visible {
      box-shadow: inset 0 0 0 2px $color-blue-60, inset 0 0 0 3px $color-white;
    }
  }

  .#{$prefix}-tag--semantic.#{$prefix}-tag--success {
    @include tag-variant(
      $tag-color-success-default-background,
      $tag-color-success-default-text,
      $tag-color-success-default-border
    );
  }

  .#{$prefix}-tag--semantic.#{$prefix}-tag--pending {
    @include tag-variant(
      $tag-color-pending-default-background,
      $tag-color-pending-default-text,
      $tag-color-pending-default-border
    );
  }

  .#{$prefix}-tag--semantic.#{$prefix}-tag--error {
    @include tag-variant(
      $tag-color-error-default-background,
      $tag-color-error-default-text,
      $tag-color-error-default-border
    );
  }

  .#{$prefix}-tag--semantic.#{$prefix}-tag--purple {
    @include tag-variant(
      $tag-color-purple-default-background,
      $tag-color-purple-default-text,
      $tag-color-purple-default-border
    );
  }

  .#{$prefix}-tag--semantic.#{$prefix}-tag--information {
    @include tag-variant(
      $tag-color-information-default-background,
      $tag-color-information-default-text,
      $tag-color-information-default-border
    );

    .#{$prefix}-tag__label {
      color: $tag-color-information-default-text;
    }
  }

  .#{$prefix}-tag--semantic.#{$prefix}-tag--transparent {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px transparent;
  }

  .#{$prefix}-tag--semantic.#{$prefix}-tag--information.#{$prefix}-tag--transparent {
    color: $tag-color-information-inverse-text;

    .#{$prefix}-tag__label {
      color: $tag-color-information-inverse-text;
    }
  }

  .#{$prefix}-tag--interactive {
    @include tag-variant(
      $tag-color-interactive-default-background,
      $tag-color-interactive-default-text,
      $tag-color-interactive-default-border
    );

    cursor: pointer;

    &:hover {
      background-color: $tag-color-interactive-hover-background;
      box-shadow: inset 0 0 0 1px $tag-color-interactive-hover-border;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 2px $tag-color-interactive-focus-border,
        inset 0 0 0 3px $color-white;
    }

    &:disabled,
    &:hover:disabled,
    &:focus-visible:disabled,
    &.#{$prefix}-tag--disabled,
    &.#{$prefix}-tag--disabled:hover,
    &.#{$prefix}-tag--disabled:focus-visible {
      background-color: $tag-color-interactive-disabled-background;
      box-shadow: inset 0 0 0 1px $tag-color-interactive-disabled-border;
      color: $tag-color-interactive-disabled-text;
      cursor: not-allowed;

      .#{$prefix}-tag__btn-close {
        background-color: transparent;
        box-shadow: inset 0 0 0 1px transparent;
        color: currentcolor;
        cursor: not-allowed;
      }

      .#{$prefix}-tag__label {
        color: $tag-color-interactive-disabled-text;
      }
    }
  }
}

@include tag;
