.#{$prefix}-file-uploader,
.#{$prefix}-input-file-uploader {
  position: relative;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  border: 1px solid $color-gray-10;
  background-color: $color-gray-5;
}

.#{$prefix}-file-uploader {
  min-height: 256px;
  border-radius: $radius-x-large;
}

.#{$prefix}-input-file-uploader {
  min-height: 64px;
  border-radius: $radius-medium;
}

.#{$prefix}-file-uploader__input {
  @include visually-hidden;
}

.#{$prefix}-input-file-uploader__zone {
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  padding: $spacing-medium;
}

.#{$prefix}-input-file-uploader__inner-wrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
}

.#{$prefix}-input-file-uploader__overlay {
  display: none;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  padding: $spacing-medium;
}

.#{$prefix}-input-file-uploader__busy {
  display: none;
  flex: 1 1;
  align-items: center;
  justify-content: flex-start;
  padding: $spacing-medium;
  gap: $spacing-x-small;
}

.#{$prefix}-file-uploader__dropzone {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: $spacing-x-large;
  padding-inline: $spacing-medium;
}

.#{$prefix}-file-uploader__placeholder {
  @include type-style('label-02');

  margin-bottom: $spacing-2x-small;
  color: $color-gray-60;
  text-align: center;
}

.#{$prefix}-input-file-uploader__placeholder {
  @include type-style('label-01');

  color: $color-gray-90;
}

.#{$prefix}-input-file-uploader__assistive-text {
  @include type-style('helper-text-01');

  color: $color-gray-60;
}

.#{$prefix}-file-uploader__dropzone .#{$prefix}-badge {
  margin-bottom: $spacing-x-small;
}

.#{$prefix}-file-uploader__overlay,
.#{$prefix}-file-uploader__busy {
  display: none;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: $spacing-x-large;
  padding-inline: $spacing-medium;
}

.#{$prefix}-file-uploader__item-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-block: $spacing-x-large;
  padding-inline: $spacing-medium;
}

.#{$prefix}-input-file-uploader .#{$prefix}-file-uploader__item-container {
  padding-block: $spacing-medium;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--dragging,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--dragging {
  border: 1px dashed $color-gray-60;
  background-color: $color-gray-10;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--dragging
  .#{$prefix}-file-uploader__overlay,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--dragging
  .#{$prefix}-input-file-uploader__overlay {
  display: flex;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--busy
  .#{$prefix}-file-uploader__busy,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--busy
  .#{$prefix}-input-file-uploader__busy {
  display: flex;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--dragging
  .#{$prefix}-file-uploader__dropzone,
.#{$prefix}-file-uploader.#{$prefix}-file-uploader--busy
  .#{$prefix}-file-uploader__dropzone,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--dragging
  .#{$prefix}-input-file-uploader__zone,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--busy
  .#{$prefix}-input-file-uploader__zone {
  display: none;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--disabled,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--disabled {
  border: 1px solid $color-gray-5;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--disabled
  .#{$prefix}-file-uploader__dropzone,
.#{$prefix}-file-uploader.#{$prefix}-file-uploader--disabled
  .#{$prefix}-file-uploader__item-container,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--disabled
  .#{$prefix}-input-file-uploader__zone,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--disabled
  .#{$prefix}-file-uploader__item-container {
  cursor: not-allowed;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--disabled
  .#{$prefix}-file-uploader__placeholder,
.#{$prefix}-file-uploader.#{$prefix}-file-uploader--disabled
  .#{$prefix}-file-uploader__item-name,
.#{$prefix}-file-uploader.#{$prefix}-file-uploader--disabled
  .#{$prefix}-file-uploader__item-size,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--disabled
  .#{$prefix}-input-file-uploader__placeholder,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--disabled
  .#{$prefix}-input-file-uploader__assistive-text,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--disabled
  .#{$prefix}-file-uploader__item-name,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--disabled
  .#{$prefix}-file-uploader__item-size {
  color: $color-gray-30;
  user-select: none;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--disabled .#{$prefix}-badge,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--disabled
  .#{$prefix}-badge {
  color: $color-gray-30;
}

.#{$prefix}-file-uploader.#{$prefix}-file-uploader--invalid,
.#{$prefix}-input-file-uploader.#{$prefix}-input-file-uploader--invalid {
  border: 1px solid $color-red-60;
}

.#{$prefix}-file-uploader__item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: $spacing-x-small;
}

.#{$prefix}-file-uploader__item-info {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-3x-small;
}

.#{$prefix}-file-uploader__item-name,
.#{$prefix}-input-file-uploader__item-name {
  @include type-style('label-01');
  @include truncate;

  color: $color-gray-90;
}

.#{$prefix}-file-uploader__item-size {
  @include type-style('helper-text-01');

  color: $color-gray-60;
}

.#{$prefix}-file-uploader__item-actions {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: $spacing-2x-small;
}

.#{$prefix}-input-file-uploader__btn-close {
  margin-left: auto;
  cursor: pointer;
}

.#{$prefix}-input-file-uploader__error-icon {
  margin-left: $spacing-3x-small;
  color: $color-red-60;
}
