@import '../../../design-tokens/build/scss/tokens';
@import '../../settings/prefix';
@import '../../tools/button';
@import '../../tools/icon';

@mixin button {
  .#{$prefix}-btn {
    @include button-base;
  }

  .#{$prefix}-btn--full-width {
    width: 100%;
  }

  .#{$prefix}-btn--icon {
    width: $button-size-default-width;
    padding-right: 0;
    padding-left: 0;
  }

  .#{$prefix}-btn--sm {
    height: $button-size-small-height;
  }

  .#{$prefix}-btn--lg {
    height: $button-size-large-height;
  }

  .#{$prefix}-btn--icon.#{$prefix}-btn--sm {
    width: $button-size-small-width;
  }

  .#{$prefix}-btn--icon.#{$prefix}-btn--lg {
    width: $button-size-large-width;
  }

  .#{$prefix}-btn__label {
    overflow: hidden;
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .#{$prefix}-btn__icon {
    flex-shrink: 0;
    @include icon-size('md');
  }

  .#{$prefix}-btn.#{$prefix}-btn__busy {
    .#{$prefix}-btn__label {
      padding-right: calc($spacing-medium * 0.75);
      padding-left: calc($spacing-medium * 0.75);
      opacity: 0;
    }

    .#{$prefix}-btn__icon {
      position: absolute;
    }
  }

  .#{$prefix}-btn--primary {
    @include button-variant(
      $button-color-primary-default-background,
      transparent,
      $button-color-primary-default-text,
      $button-color-primary-hover-background,
      $button-color-primary-focus-border,
      $button-color-primary-active-background
    );
  }

  .#{$prefix}-btn--secondary {
    @include button-variant(
      $button-color-secondary-default-background,
      transparent,
      $button-color-secondary-default-text,
      $button-color-secondary-hover-background,
      $button-color-secondary-focus-border,
      $button-color-secondary-active-background
    );
  }

  .#{$prefix}-btn--outline {
    @include button-variant(
      transparent,
      $button-color-outline-default-border,
      $button-color-outline-default-text,
      $button-color-outline-hover-background,
      $button-color-outline-focus-border,
      $button-color-outline-active-background
    );

    &:disabled,
    &:hover:disabled,
    &:focus-visible:disabled,
    &.#{$prefix}-btn--disabled,
    &.#{$prefix}-btn--disabled:hover,
    &.#{$prefix}-btn--disabled:focus-visible {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px $button-color-outline-disabled-border;
      color: $button-color-outline-disabled-text;
    }

    &:hover {
      box-shadow: inset 0 0 0 1px $button-color-outline-hover-border;
      color: $button-color-outline-hover-text;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 2px $button-color-outline-focus-border,
        inset 0 0 0 3px $color-white;
    }

    &:active {
      box-shadow: unset;
      color: $button-color-outline-active-text;
    }
  }

  .#{$prefix}-btn--ghost {
    @include button-variant(
      transparent,
      transparent,
      $button-color-ghost-default-text,
      $button-color-ghost-hover-background,
      $button-color-ghost-focus-border,
      $button-color-ghost-active-background
    );

    &:disabled,
    &:hover:disabled,
    &:focus-visible:disabled,
    &.#{$prefix}-btn--disabled,
    &.#{$prefix}-btn--disabled:hover,
    &.#{$prefix}-btn--disabled:focus-visible {
      background-color: transparent;
      color: $button-color-ghost-disabled-text;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 2px $button-color-ghost-focus-border,
        inset 0 0 0 3px transparent;
    }

    &:active {
      box-shadow: unset;
    }
  }

  .#{$prefix}-btn--destructive {
    @include button-variant(
      $button-color-destructive-default-background,
      transparent,
      $button-color-destructive-default-text,
      $button-color-destructive-hover-background,
      $button-color-destructive-focus-border,
      $button-color-destructive-active-background
    );
  }

  .#{$prefix}-btn--destructive-outline {
    @include button-variant(
      transparent,
      $button-color-destructive-outline-default-border,
      $button-color-destructive-outline-default-text,
      $button-color-destructive-outline-hover-background,
      $button-color-destructive-outline-focus-border,
      $button-color-destructive-outline-active-background
    );

    &:disabled,
    &:hover:disabled,
    &:focus-visible:disabled,
    &.#{$prefix}-btn--disabled,
    &.#{$prefix}-btn--disabled:hover,
    &.#{$prefix}-btn--disabled:focus-visible {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px
        $button-color-destructive-outline-disabled-border;
      color: $button-color-destructive-outline-disabled-text;
    }

    &:hover {
      box-shadow: inset 0 0 0 1px $button-color-destructive-outline-hover-border;
      color: $button-color-destructive-outline-hover-text;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 2px $button-color-outline-focus-border,
        inset 0 0 0 3px $color-white;
    }

    &:active {
      box-shadow: unset;
      color: $button-color-destructive-outline-active-text;
    }
  }
}

@include button;
