@import '../../tools/button-reset';
@import '../../tools/type';
@import '../../tools/spacing';

/// border, transition, background

@mixin button-base {
  @include button-reset;
  @include type-style('label-02');

  position: relative;
  display: inline-block;
  padding: space('12') space('16');
  border-radius: space('4');
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:disabled,
  &:hover:disabled,
  &:focus:disabled,
  &.#{$prefix}-btn--disabled,
  &.#{$prefix}-btn--disabled:hover,
  &.#{$prefix}-btn--disabled:focus {
    background-color: color(gray, 20);
    box-shadow: none;
    color: color(gray, 40);
    cursor: not-allowed;
  }
}

@mixin button-type(
  $bg-color,
  $border-color,
  $font-color,
  $hover-bg-color,
  $focus-color,
  $active-color
) {
  background-color: $bg-color;
  box-shadow: inset 0 0 0 1px $border-color;
  color: $font-color;

  &:hover {
    background-color: $hover-bg-color;
  }

  &:focus {
    box-shadow: inset 0 0 0 space('2') $focus-color,
      inset 0 0 0 3px color(white, 100);
  }

  &:active {
    background-color: $active-color;
    box-shadow: unset;
  }
}
