@import '../layout/breakpoint';

@mixin css-grid() {
  display: grid;
  max-width: 99rem;
  margin-right: auto;
  margin-left: auto;
  column-gap: $grid-gutter;
  grid-template-columns: repeat(
    $grid-columns,
    minmax(0, $grid-column-size)
  );
}

@mixin subgrid() {
  display: grid;
  column-gap: $grid-gutter;
  grid-template-columns: repeat(
    $grid-columns,
    minmax(0, $grid-column-size)
  );
}

@mixin -column-span($i) {
  @if $i == 0 {
    display: none;
  } @else {
    display: block;
    grid-column: span $i / span $i;
  }
}

@mixin make-css-grid-columns($breakpoints: $grid-breakpoints ,$columns: $advanced-grid-columns) {

  @for $i from 0 through $columns {
    .p--grid--#{$i} {
      grid-template-columns: repeat(
        $i,
        minmax(0, $grid-column-size)
      );
    }
  }

  @for $i from 0 through $columns {
    .p--col-span-#{$i} {
      @include -column-span($i);
    }
  }

  @each $name, $value in $breakpoints {
    @include breakpoint($name) {
      @for $i from 0 through $columns {
        .p--#{$name}\:col-span-#{$i} {
          @include -column-span($i);
        }
      }
    }
  }
}

@mixin make-css-grid-col-offset($breakpoints: $grid-breakpoints ,$columns: $advanced-grid-columns) {

  @for $i from 0 through $columns {
    .p--col-start-#{$i} {
      grid-column-start: $i;
    }

    .p--col-end-#{$i} {
      grid-column-end: $i;
    }
  }

  @each $name, $value in $breakpoints {
    @include breakpoint($name) {
      @for $i from 0 through $columns + 1 {
        .p--#{$name}\:col-start-#{$i} {
          grid-column-start: $i;
        }

        .p--#{$name}\:col-end-#{$i} {
          grid-column-end: $i;
        }
      }
    }
  }
}

@mixin make-css-grid-container($breakpoints: $grid-breakpoints) {
  @each $name, $value in $breakpoints {
    $margin: map-get($value, margin);

    @include breakpoint($name) {
      padding-right: #{calc(($grid-gutter / 2)) + $margin};
      padding-left: #{calc(($grid-gutter / 2)) + $margin};
    }
  }
}


@mixin grid-css() {

  .p--css-grid {
    @include css-grid();
    @include make-css-grid-container();
  }

  .p--subgrid {
    @include subgrid();
  }

  .p--css-grid--narrow > [class*='col'] {
    margin-left: calc( $grid-gutter / 2 * -1);
  }

  .p--css-grid:not(.p--css-grid--condensed) 
    .p--subgrid.p--css-grid--narrow {
    padding: 0;
  }

  .p--css-grid--condensed {
    column-gap: $grid-gutter--condensed;
    row-gap: $grid-gutter--condensed;
  }

  .p--css-grid:not(.p--css-grid--narrow)
    .p--subgrid.p--css-grid--condensed {
      margin-right: calc( $grid-gutter / 2 * -1);
      margin-left: calc( $grid-gutter / 2 * -1);
  }

  @include make-css-grid-columns();
  @include make-css-grid-col-offset();

  .p--css-grid--full-width {
    max-width: 100%;
  }

  .p--css-grid--no-gutter {
    column-gap: 0;
  }
}