@import '../../design-tokens/build/scss/tokens';

@mixin page-reset {
  html {
    font-size: 100%;
  }

  body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-medium;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: $font-weight-regular;
    text-rendering: optimizelegibility;
  }
}

@include page-reset;
