@mixin side-nav {
  .#{$prefix}-side-nav {
    display: flex;
    overflow: hidden;
    width: 264px;
    height: 100%;
    flex-direction: column;
    background-color: $color-gray-0;
  }

  .#{$prefix}-side-nav__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: $spacing-large;
  }

  .#{$prefix}-side-nav__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
  }

  .#{$prefix}-side-nav__logo-image {
    max-width: 44px;
    height: auto;
  }

  .#{$prefix}-side-nav__content {
    position: relative;
    display: flex;
    overflow: hidden;
    flex: 1 1 0%;
    flex-direction: column;
    padding-block: $spacing-large;
  }

  .#{$prefix}-side-nav__items {
    display: flex;
    flex-direction: column;
    gap: $spacing-3x-small;
  }

  .#{$prefix}-side-nav__items--top {
    overflow-y: scroll;
  }

  .#{$prefix}-side-nav__items--bottom {
    margin-top: auto;
  }

  .#{$prefix}-side-nav__item {
    padding-inline: $spacing-2x-small;
  }

  .#{$prefix}-side-nav__link {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    border-radius: $radius-medium;
    color: $color-gray-90;
    cursor: pointer;
    gap: $spacing-2x-small;
    padding-block: $spacing-x-small;
    padding-inline: $spacing-medium;
    text-decoration: none;
    user-select: none;

    &:hover {
      background-color: $color-gray-5;
    }

    &:active {
      background-color: $color-gray-10;
    }

    &:focus-visible {
      box-shadow: inset 0 0 0 2px $color-blue-60;
    }
  }

  .#{$prefix}-side-nav__link-icon {
    @include icon-size('sm');

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: $color-gray-60;
  }

  .#{$prefix}-side-nav__submenu-icon {
    @include icon-size('xs');

    display: none;
    color: $color-gray-50;
  }

  .#{$prefix}-side-nav__link-text {
    @include type-style('label-02');
    @include truncate;

    flex-grow: 1;
    text-align: left;
  }

  .#{$prefix}-side-nav__link--selected,
  .#{$prefix}-side-nav__link--selected:hover {
    background-color: $color-blue-5;
    color: $color-blue-60;
  }

  .#{$prefix}-side-nav__link--selected .#{$prefix}-side-nav__link-icon {
    color: inherit;
  }

  .#{$prefix}-side-nav__link--has-submenu:hover
    .#{$prefix}-side-nav__submenu-icon {
    display: flex;
  }

  .#{$prefix}-side-nav__submenu {
    display: none;
    flex-direction: column;
    gap: $spacing-3x-small;
    padding-block: $spacing-3x-small;
  }

  .#{$prefix}-side-nav__submenu .#{$prefix}-side-nav__link {
    padding-right: $spacing-2x-small;
    padding-left: 42px;
    padding-block: $spacing-2x-small;
  }

  .#{$prefix}-side-nav__submenu .#{$prefix}-side-nav__link-text {
    @include type-style('label-01');
  }

  .#{$prefix}-side-nav__submenu
    .#{$prefix}-side-nav__link--selected
    .#{$prefix}-side-nav__link-text {
    @include type-style('label-02');
  }

  .#{$prefix}-side-nav__link--submenu-active ~ .#{$prefix}-side-nav__submenu {
    display: flex;
  }

  .#{$prefix}-side-nav__link--submenu-active,
  .#{$prefix}-side-nav__link--submenu-active:hover {
    background-color: $color-blue-5;
    color: $color-blue-60;
  }

  .#{$prefix}-side-nav__link--submenu-active .#{$prefix}-side-nav__link-icon {
    color: inherit;
  }

  .#{$prefix}-side-nav__link--submenu-active
    .#{$prefix}-side-nav__submenu-icon {
    display: flex;
    rotate: 180deg;
  }

  // COLLAPSED

  .#{$prefix}-side-nav--collapsed {
    width: 66px;
  }

  .#{$prefix}-side-nav--collapsed .#{$prefix}-side-nav__header {
    justify-content: center;
  }

  .#{$prefix}-side-nav--collapsed .#{$prefix}-side-nav__logo-image {
    max-width: 32px;
    height: auto;
  }

  .#{$prefix}-side-nav--collapsed .#{$prefix}-side-nav__link-text,
  .#{$prefix}-side-nav--collapsed
    .#{$prefix}-side-nav__link-icon.#{$prefix}-side-nav__submenu-icon {
    display: none;
  }
}

@include side-nav;
