.#{$prefix}-list {
  @include type-style('body-short-01');

  display: flex;
  flex-direction: column;
  gap: $spacing-2x-small;
  margin-inline-start: $spacing-medium;
}

.#{$prefix}-list__item {
  position: relative;
  color: $color-gray-90;
}

.#{$prefix}-list.#{$prefix}-list--dashed > .#{$prefix}-list__item {
  &::before {
    position: absolute;
    content: '\002013';
    inset-inline-start: calc(-1 * $spacing-medium);
  }
}

.#{$prefix}-list.#{$prefix}-list--bulleted > .#{$prefix}-list__item {
  list-style-type: disc;
}

.#{$prefix}-list.#{$prefix}-list--lettered > .#{$prefix}-list__item {
  list-style-type: lower-latin;
}

.#{$prefix}-list.#{$prefix}-list--number > .#{$prefix}-list__item {
  list-style-type: decimal;
}

.#{$prefix}-list--nested {
  margin-block-start: $spacing-2x-small;
  margin-inline-start: $spacing-medium;
}
