.#{$prefix}-link {
  @include type-style('body-short-01');

  display: inline-flex;
  padding: 0;
  border: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: inherit;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $link-color-focus-border;
  }

  &:disabled,
  &:hover:disabled,
  &:focus-visible:disabled,
  &.#{$prefix}-link--disabled,
  &.#{$prefix}-link--disabled:hover,
  &.#{$prefix}-link--disabled:focus-visible {
    color: $link-color-disabled-text;
    cursor: not-allowed;
    text-decoration: none;
  }
}

.#{$prefix}-link--inline {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}

.#{$prefix}-link__icon {
  margin-left: $spacing-4x-small;
}

.#{$prefix}-link--primary {
  color: $link-color-primary-text;

  &:active {
    color: $link-color-primary-active-text;
  }
}

.#{$prefix}-link--secondary {
  color: $link-color-secondary-text;

  &:active {
    color: $link-color-secondary-active-text;
  }
}

.#{$prefix}-link--dark {
  color: $link-color-dark-text;

  &:active {
    color: $link-color-dark-active-text;
  }
}
