$grid-columns: 12;
$advanced-grid-columns: 48;
$grid-gutter: 32px;
$grid-gutter--condensed: 1px;
$grid-column-size: 1fr;

$grid-breakpoints: (
  sm: (
    width: 600px,
    margin: 16px,
  ),
  md: (
    width: 900px,
    margin: 16px,
  ),
  lg: (
    width: 1300px,
    margin: 24px,
  ),
  xl: (
    width: 1500px,
    margin: 40px,
  ),
  2xl: (
    width: 1800px,
    margin: 48px,
  ),
)!default;

@function breakpoint-infix($name) {
  @return '-#{$name}';
}

@mixin breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  @if map-has-key($breakpoints, $name) {
    $breakpoint: map-get($breakpoints, $name);
    $width: map-get($breakpoint, width);
    @media (min-width: $width) {
      @content;
    }
  } @else {
    @error 'Unable to find a token with the name: `#{$name}`';
  }
}

@mixin breakpoint($name, $breakpoints: $grid-breakpoints) {
  @include breakpoint-up($name, $breakpoints) {
    @content;
  }
}