@mixin font-face-sans-serif {
  @font-face {
    font-display: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../../src/fonts/Inter-Regular.woff2') format('woff2'),
      url('../../src/fonts/Inter-Regular.woff') format('woff');
  }

  @font-face {
    font-display: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../../src/fonts/Inter-Medium.woff2') format('woff2'),
      url('../../src/fonts/Inter-Medium.woff') format('woff');
  }

  @font-face {
    font-display: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../../src/fonts/Inter-SemiBold.woff2') format('woff2'),
      url('../../src/fonts/Inter-SemiBold.woff') format('woff');
  }
}
