// @import 'tokens';

// Üründe kullanılması gereken font aileleri
// (Kullanılan font aileleri bulunamaması halinde, kullanılacak diğer uygun fontların stack'e eklenmesi)
$font-families: (
  'sans-serif':
  unquote(
    "'Inter', 'Arial'"
  ),
  'mono':
  unquote(
    "'Jetbrains Mono', 'Arial'"
  ),
) !default;

// Belirli bir font-family değerini almak için
@function font-family($name) {
  @return map-get($font-families, $name);
}

// Belirli bir font-family değerini kullanmak için
@mixin font-family($name) {
  font-family: font-family($name);
}

// Üründe kullanılması gereken font ağırlıkları
$font-weights: (
  'regular':              400,
  'medium':               500,
  'semibold':             600,
  'bold':                 700,
) !default;

// Belirli bir font ağırlığını almak için
@function font-weight($weight) {
  @return map-get($font-weights, $weight);
}

// Belirli bir font ağırlık değerini kullanmak için
@mixin font-weight($weight) {
  font-weight: font-weight($weight);
}

// Üründe kullanılması gereken font ölçekleri
$font-scales: (
  '12':                $size-xs,
  '14':                $size-sm,
  '16':                $size-base,
  '18':                $size-lg,
  '20':                $size-xl,
  '24':                $size-2xl,
  '28':                $size-3xl,
  '32':                $size-4xl,
  '36':                $size-5xl,
  '40':                $size-6xl,
  '42':                $size-7xl,
  '48':                $size-8xl,
) !default;

// Belirli bir font ölçeğini almak için
@function font-scale-size($font-size) {
  @if map-has-key($font-scales, $font-size) {
    @return map-get($font-scales, $font-size);
  } @else {
    @error 'Unable to find a token with the name: `#{$font-size}`';
  }
}

// Belirli bir font ölçek değerini kullanmak için
@mixin font-scale-size($font-size) {
  font-size: font-scale-size(font-size);
}

// Belirli bir font ölçeğini, line-height değerine almak için
@function font-scale-line-height($line-height) {
  @if map-has-key($font-scales, $line-height) {
    @return map-get($font-scales, $line-height);
  } @else {
    @error 'Unable to find a token with the name: `#{$line-height}`';
  }
}

// Belirli bir font ölçeğini, line-height değeri olarak kullanmak için
@mixin font-scale-line-height($line-height) {
  line-height: font-scale-line-height(line-height);
}
