@import 'font-family';

// Üründe kullanılması gereken tipografi tipleri
$body-short-01: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('14'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('18'),
  letter-spacing: 0.16px,
) !default;
$body-short-02: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('16'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('20'),
  letter-spacing: 0,
) !default;
$body-long-01: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('16'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('20'),
  letter-spacing: 0.16px,
) !default;
$body-long-02: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('16'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('24'),
  letter-spacing: 0,
) !default;
$heading-01: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('14'),
  font-weight: font-weight('semi-bold'),
  line-height: font-scale-line-height('18'),
  letter-spacing: 0.16px,
) !default;
$heading-02: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('16'),
  font-weight: font-weight('medium'),
  line-height: font-scale-line-height('20'),
  letter-spacing: 0,
) !default;
$heading-03: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('20'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('24'),
  letter-spacing: 0,
) !default;
$heading-04: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('28'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('32'),
  letter-spacing: 0,
) !default;
$heading-05: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('32'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('40'),
  letter-spacing: 0,
) !default;
$heading-06: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('42'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('48'),
  letter-spacing: 0,
) !default;
$code-01: (
  font-family: font-family('mono'),
  font-size: font-scale-size('12'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('16'),
  letter-spacing: 0,
) !default;
$code-02: (
  font-family: font-family('mono'),
  font-size: font-scale-size('14'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('20'),
  letter-spacing: 0,
) !default;
$helper-text-01: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('12'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('14'),
  letter-spacing: 0.32px,
) !default;
$label-01: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('14'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('16'),
  letter-spacing: 0.32px,
) !default;
$amount-01: (
  font-family: font-family('mono'),
  font-size: font-scale-size('14'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('16'),
  letter-spacing: 0,
) !default;
$amount-02: (
  font-family: font-family('mono'),
  font-size: font-scale-size('16'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('20'),
  letter-spacing: 0,
) !default;
$amount-03: (
  font-family: font-family('mono'),
  font-size: font-scale-size('20'),
  font-weight: font-weight('medium'),
  line-height: font-scale-line-height('24'),
  letter-spacing: 0,
) !default;
$count-01: (
  font-family: font-family('sans-serif'),
  font-size: font-scale-size('24'),
  font-weight: font-weight('regular'),
  line-height: font-scale-line-height('28'),
  letter-spacing: 0,
) !default;

// Tipografi tiplerini map içinde belirtmek
$tokens: (
  body-short-01: $body-short-01,
  body-short-02: $body-short-02,
  body-long-01: $body-long-01,
  body-long-02: $body-long-02,
  heading-01: $heading-01,
  heading-02: $heading-02,
  heading-03: $heading-03,
  heading-04: $heading-04,
  heading-05: $heading-05,
  heading-06: $heading-06,
  code-01: $code-01,
  code-02: $code-02,
  helper-text-01: $helper-text-01,
  label-01: $label-01,
  amount-01: $amount-01,
  amount-02: $amount-02,
  amount-03: $amount-03,
  count-01: $count-01,
);

@mixin properties($map) {
  @each $name, $value in $map {
    #{$name}: $value;
  }
}

// Belirli bir tipografi tipini kullanmak için
@mixin type-style($name) {
  @if map-has-key($tokens, $name) {
    $token: map-get($tokens, $name);

    @include properties(map-remove($token));
  } @else {
    @error 'Unable to find a token with the name: `#{$name}`';
  }
}
