@import '../spacing';
@import '../colors/colors';

// $spacing-4xs: spacing('spacing-2');
// $spacing-3xs: spacing('spacing-4');
// $spacing-2xs: spacing('spacing-8');
// $spacing-xs: spacing('spacing-12');
// $spacing-base: spacing('spacing-16');
// $spacing-2xl: spacing('spacing-24');
// $spacing-4xl: spacing('spacing-32');
// $spacing-7xl: spacing('spacing-40');
// $spacing-8xl: spacing('spacing-48');

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// $button-color-background:  $color-primary;
// $button-color-background-hover:  $color-primary-hover;
// $button-color-text:;
// $button-color-border:;

// $badge-color-background:  $color-primary

// $color-primary: $brown-60
// $color-primary-hover: $brown-70

// $color-primary: $blue-60

// $brown-60 : #484848;
// $brown-70 : #784848;

// ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// // global tokens
// $blue-10: #484848;
// $blue-20: #484848;

// // atlas
// $primary-background: $blue-10;

// //
// $button-primary-background: $primary-background;

// // parasut
// $primary-background: $brown-10;

$blue-10: color(blue, 10);
$blue-20: color(blue, 20);
$blue-30: color(blue, 30);
$blue-40: color(blue, 40);
$blue-50: color(blue, 50);
$blue-60: color(blue, 60);
$blue-70: color(blue, 70);
$blue-80: color(blue, 80);
$blue-90: color(blue, 90);
$blue-100: color(blue, 100);
$brown-10: color(brown, 10);
$brown-20: color(brown, 20);
$brown-30: color(brown, 30);
$brown-40: color(brown, 40);
$brown-50: color(brown, 50);
$brown-60: color(brown, 60);
$brown-70: color(brown, 70);
$brown-80: color(brown, 80);
$brown-90: color(brown, 90);
$brown-100: color(brown, 100);
$cool-gray-10: color(cool-gray, 10);
$cool-gray-20: color(cool-gray, 20);
$cool-gray-30: color(cool-gray, 30);
$cool-gray-40: color(cool-gray, 40);
$cool-gray-50: color(cool-gray, 50);
$cool-gray-60: color(cool-gray, 60);
$cool-gray-70: color(cool-gray, 70);
$cool-gray-80: color(cool-gray, 80);
$cool-gray-90: color(cool-gray, 90);
$cool-gray-100: color(cool-gray, 100);
$gray-10: color(gray, 10);
$gray-20: color(gray, 20);
$gray-30: color(gray, 30);
$gray-40: color(gray, 40);
$gray-50: color(gray, 50);
$gray-60: color(gray, 60);
$gray-70: color(gray, 70);
$gray-80: color(gray, 80);
$gray-90: color(gray, 90);
$gray-100: color(gray, 100);
$green-10: color(green, 10);
$green-20: color(green, 20);
$green-30: color(green, 30);
$green-40: color(green, 40);
$green-50: color(green, 50);
$green-60: color(green, 60);
$green-70: color(green, 70);
$green-80: color(green, 80);
$green-90: color(green, 90);
$green-100: color(green, 100);
$bronze-10: color(bronze, 10);
$bronze-20: color(bronze, 20);
$bronze-30: color(bronze, 30);
$bronze-40: color(bronze, 40);
$bronze-50: color(bronze, 50);
$bronze-60: color(bronze, 60);
$bronze-70: color(bronze, 70);
$bronze-80: color(bronze, 80);
$bronze-90: color(bronze, 90);
$bronze-100: color(bronze, 100);
$red-10: color(red, 10);
$red-20: color(red, 20);
$red-30: color(red, 30);
$red-40: color(red, 40);
$red-50: color(red, 50);
$red-60: color(red, 60);
$red-70: color(red, 70);
$red-80: color(red, 80);
$red-90: color(red, 90);
$red-100: color(red, 100);
$purple-10: color(purple, 10);
$purple-20: color(purple, 20);
$purple-30: color(purple, 30);
$purple-40: color(purple, 40);
$purple-50: color(purple, 50);
$purple-60: color(purple, 60);
$purple-70: color(purple, 70);
$purple-80: color(purple, 80);
$purple-90: color(purple, 90);
$purple-100: color(purple, 100);
