@import '../../prefix';
@import '../../type';

// @import '../../radius';

@import 'mixins';
@import 'tokens';
@import '../../tokens';

.#{$prefix}--btn {
  position: relative;

  @include type-style('label-01');

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: spacing('spacing-12') spacing('spacing-16');

  // @include radius('radius-4');
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
}

.#{$prefix}--btn--field {
  padding: $button-padding-field;
}

.#{$prefix}--btn--sm {
  padding: $button-padding-sm;
}

.#{$prefix}--btn--lg {
  padding: $button-padding-lg;
}

.#{$prefix}--btn--primary {
  @include button-theme(
    transparent,
    $p-color-background-primary,
    $p-color-text-primary,
    $p-color-background-primary-hover,
    $p-color-text-primary-hover,
    $p-color-background-primary-active,

    // Alternatif
    // color(blue,60),

    // Alternatif 2
    // $p-primary-70,
  );
}
