@mixin button-theme (
  $border-color,
  $bg-color,
  $text-color,
  $bg-hover-color,
  $text-hover-color,
  $bg-active-color,
){
  border-color: $border-color;
  background-color: $bg-color;
  color: $text-color;

  &:hover {
    background-color: $bg-hover-color;
    color: $text-hover-color;
  }
  &:active {
    background-color: $bg-active-color;
  }
}


