@import '../../../design-tokens/build/scss/tokens';

@mixin tooltip {
  .#{$prefix}-tooltip-container {
    position: relative;
    display: inline-flex;
  }

  .#{$prefix}-tooltip {
    position: absolute;
    z-index: $z-index-tooltip;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  .#{$prefix}-tooltip__btn {
    @include button-reset;

    display: inline-flex;
    width: calc($spacing-medium * 1.25);
    height: calc($spacing-medium * 1.25);
    align-items: center;
    justify-content: center;
    background-color: $color-gray-70;
    border-radius: $radius-small;
    color: $color-white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    visibility: hidden;

    &:hover {
      background-color: $color-gray-90;
    }

    &:active {
      background-color: $color-gray-100;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px $color-blue-60;
    }
  }

  .#{$prefix}-tooltip__icon {
    @include icon-size('xs');

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  .#{$prefix}-tooltip__content {
    @include type-style('label-01');

    position: absolute;
    z-index: $z-index-tooltip;
    width: max-content;
    max-width: $tooltip-size-max-width;
    padding: $tooltip-size-padding;
    background-color: $tooltip-color-background;
    border-radius: $tooltip-border-radius;
    color: $tooltip-color-text;
    pointer-events: auto;
    visibility: hidden;
  }

  .#{$prefix}-tooltip__content::before {
    position: absolute;
    z-index: $z-index-overflow-menu;
    content: '';
    visibility: hidden;
  }

  .#{$prefix}-tooltip__caret {
    position: absolute;
    z-index: $z-index-tooltip;
    width: $spacing-2x-small;
    height: $spacing-2x-small;
    background-color: $tooltip-color-background;
    border-radius: $radius-small;
    rotate: 45deg;
    visibility: hidden;
  }

  .#{$prefix}-tooltip--open .#{$prefix}-tooltip__content,
  .#{$prefix}-tooltip--open .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--open .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--open .#{$prefix}-tooltip__btn {
    opacity: 1;
    visibility: visible;
  }

  // TOP PLACEMENT
  .#{$prefix}-tooltip--top .#{$prefix}-tooltip__content {
    top: 0;
    left: 50%;
    translate: -50% calc(-100% - $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--top-start .#{$prefix}-tooltip__content {
    top: 0;
    left: 0;
    translate: calc(-2 * $tooltip-size-offset)
      calc(-100% - $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--top-end .#{$prefix}-tooltip__content {
    top: 0;
    right: 0;
    translate: calc(2 * $tooltip-size-offset) calc(-100% - $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--top .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--top-start .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--top-end .#{$prefix}-tooltip__content::before {
    right: 0;
    bottom: 0;
    left: 0;
    height: $tooltip-size-offset;
    transform: translateY(100%);
  }

  .#{$prefix}-tooltip--top .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--top-start .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--top-end .#{$prefix}-tooltip__caret {
    top: 0;
    left: 50%;
    margin-top: calc(-1 * ($spacing-3x-small + 1px));
    rotate: 45deg;
    translate: -50% calc(-1 * $tooltip-size-offset);
  }

  // BOTTOM PLACEMENT
  .#{$prefix}-tooltip--bottom .#{$prefix}-tooltip__content {
    bottom: 0;
    left: 50%;
    translate: -50% calc(100% + $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--bottom-start .#{$prefix}-tooltip__content {
    bottom: 0;
    left: 0;
    translate: calc(-2 * $tooltip-size-offset) calc(100% + $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--bottom-end .#{$prefix}-tooltip__content {
    right: 0;
    bottom: 0;
    translate: calc(2 * $tooltip-size-offset) calc(100% + $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--bottom .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--bottom-start .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--bottom-end .#{$prefix}-tooltip__content::before {
    top: 0;
    right: 0;
    left: 0;
    height: $tooltip-size-offset;
    transform: translateY(-100%);
  }

  .#{$prefix}-tooltip--bottom .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--bottom-start .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--bottom-end .#{$prefix}-tooltip__caret {
    bottom: 0;
    left: 50%;
    margin-bottom: calc(-1 * ($spacing-3x-small + 1px));
    rotate: 45deg;
    translate: -50% $tooltip-size-offset;
  }

  // LEFT PLACEMENT
  .#{$prefix}-tooltip--left .#{$prefix}-tooltip__content {
    top: 50%;
    left: 0;
    translate: calc(-100% - $tooltip-size-offset) -50%;
  }

  .#{$prefix}-tooltip--left-start .#{$prefix}-tooltip__content {
    top: 0;
    left: 0;
    translate: calc(-100% - $tooltip-size-offset)
      calc(-2 * $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--left-end .#{$prefix}-tooltip__content {
    bottom: 0;
    left: 0;
    translate: calc(-100% - $tooltip-size-offset) calc(2 * $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--left .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--left-start .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--left-end .#{$prefix}-tooltip__content::before {
    top: 0;
    right: 0;
    bottom: 0;
    width: $tooltip-size-offset;
    transform: translateX(100%);
  }

  .#{$prefix}-tooltip--left .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--left-start .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--left-end .#{$prefix}-tooltip__caret {
    top: 50%;
    left: 0;
    margin-left: calc(-1 * ($spacing-3x-small + 1px));
    rotate: 45deg;
    translate: calc(-1 * $tooltip-size-offset) -50%;
  }

  // RIGHT PLACEMENT
  .#{$prefix}-tooltip--right .#{$prefix}-tooltip__content {
    top: 50%;
    right: 0;
    translate: calc(100% + $tooltip-size-offset) -50%;
  }

  .#{$prefix}-tooltip--right-start .#{$prefix}-tooltip__content {
    top: 0;
    right: 0;
    translate: calc(100% + $tooltip-size-offset) calc(-2 * $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--right-end .#{$prefix}-tooltip__content {
    right: 0;
    bottom: 0;
    translate: calc(100% + $tooltip-size-offset) calc(2 * $tooltip-size-offset);
  }

  .#{$prefix}-tooltip--right .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--right-start .#{$prefix}-tooltip__content::before,
  .#{$prefix}-tooltip--right-end .#{$prefix}-tooltip__content::before {
    top: 0;
    bottom: 0;
    left: 0;
    width: $tooltip-size-offset;
    transform: translateX(-100%);
  }

  .#{$prefix}-tooltip--right .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--right-start .#{$prefix}-tooltip__caret,
  .#{$prefix}-tooltip--right-end .#{$prefix}-tooltip__caret {
    top: 50%;
    right: 0;
    margin-right: calc(-1 * ($spacing-3x-small + 1px));
    rotate: 45deg;
    translate: calc($tooltip - size-offset) -50%;
  }
}
@include tooltip;
