@import '../../design-tokens/build/scss/tokens';

@mixin notification-base {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: $notification-size-padding;
  gap: $notification-size-gap;
}

@mixin notification-status(
  $background-color,
  $text-color,
  $border-color,
) {
  background-color: $background-color;
  color: $text-color;
  border-left: 2px solid $border-color;
}
