.#{$prefix}-tablist {
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.#{$prefix}-tablist__tab {
  @include type-style('label-01');

  display: flex;
  height: $tab-size-height;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: $tab-color-text;
  cursor: pointer;
  gap: $tab-size-gap;
  padding-inline: $tab-size-padding-inline;
  text-align: center;

  &:hover {
    border-color: $tab-color-hover-border;
  }

  &:focus-visible {
    outline: 2px solid $tab-color-focus-border;
    outline-offset: -2px;
  }

  &.#{$prefix}-tablist__tab--disabled,
  &.#{$prefix}-tablist__tab--disabled:hover,
  &.#{$prefix}-tablist__tab--disabled:focus-visible {
    border-bottom: unset;
    color: $tab-color-disabled-text;
    cursor: not-allowed;
  }
}

.#{$prefix}-tablist__tab .#{$prefix}-tablist__tag {
  color: $tab-color-text;
}

.#{$prefix}-tablist__tab .#{$prefix}-tablist__tag .#{$prefix}-tag__label {
  color: inherit;
}

.#{$prefix}-tablist__tab--disabled .#{$prefix}-tablist__tag {
  background-color: $color-gray-10;
  box-shadow: inset 0 0 0 1px $color-gray-10;
  color: $tab-color-disabled-text;
  cursor: not-allowed;
}

.#{$prefix}-tablist__tab--selected,
.#{$prefix}-tablist__tab--selected:hover {
  border-bottom: 2px solid $tab-color-selected-border;
  color: $tab-color-selected-text;
  font-weight: $font-weight-medium;
}

.#{$prefix}-tablist__tab--selected .#{$prefix}-tablist__tag {
  background-color: $tab-color-selected-background;
  box-shadow: inset 0 0 0 1px $tab-color-selected-border;
  color: $color-white;
}

.#{$prefix}-tablist--solid .#{$prefix}-tablist__tab {
  background-color: $tab-color-solid-background;
}

.#{$prefix}-tab-content {
  padding: $spacing-medium;
}

.#{$prefix}-tab-content[hidden] {
  display: none;
}
