.#{$prefix}-badge {
  display: inline-flex;
  overflow: hidden;
  width: $badge-size-width;
  height: $badge-size-width;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: $badge-color-background;
  border-radius: $badge-border-radius;
  color: $badge-color-text;
}

.#{$prefix}-badge--lg {
  width: $badge-size-large-width;
  height: $badge-size-large-height;
}

.#{$prefix}-badge--circle {
  border-radius: $radius-pill;
}

.#{$prefix}-badge__letter {
  @include type-style('label-02');

  display: inline-flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.#{$prefix}-badge__image {
  width: 100%;
  max-width: $spacing-x-large;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: calc($badge-border-radius / 2);
  object-fit: cover;
}

.#{$prefix}-badge--lg .#{$prefix}-badge__image {
  max-width: $spacing-2x-large;
}

.#{$prefix}-badge--circle .#{$prefix}-badge__image {
  max-width: $spacing-2x-large;
}

.#{$prefix}-badge--lg.#{$prefix}-badge--circle .#{$prefix}-badge__image {
  max-width: $spacing-3x-large;
}
