@import '../../tools/text-truncate';

.#{$prefix}-badge {
  @include type-style('label-02');

  display: inline-flex;
  overflow: hidden;
  width: $badge-size-width;
  height: $badge-size-height;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: $badge-size-padding;
  background-color: $badge-color-background;
  border-radius: $badge-border-radius;
  color: $badge-color-text;
}

.#{$prefix}-badge--lg {
  width: $badge-size-large-width;
  height: $badge-size-large-height;
}

.#{$prefix}-badge__label {
  @include truncate;

  text-transform: uppercase;
}

.#{$prefix}-badge__image {
  width: 100%;
  max-width: $spacing-x-large;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: calc($badge-border-radius / 2);
  object-fit: cover;
}
