@import '../../../design-tokens/build/scss/tokens';

.fa,
.fas,
.fa-solid,
.far,
.fa-regular,
.fal,
.fa-light,
.fad,
.fa-duotone {
  display: inline-block;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fas,
.fa-solid {
  font-family: $font-family-icon;
  font-weight: 900;
}

.far,
.fa-regular {
  font-family: $font-family-icon;
  font-weight: 400;
}

.fal,
.fa-light {
  font-family: $font-family-icon;
  font-weight: 300;
}

.fad,
.fa-duotone {
  position: relative;
  font-family: $font-family-icon-duotune;
  font-weight: 900;
}
