@import '../../settings/prefix';
@import 'core';
@import '../../tools/icon';
@import '../../tools/font-faces';
@include font-faces;

.#{$prefix}-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

@each $size, $value in $fds-icon-sizes {
  .#{$prefix}-icon--#{$size} {
    @include icon-size($size, $size, $size);
  }
}

@each $name, $icon in $fa-icons {
  .fa-#{$name}::before {
    content: fa-content($icon);
  }
}
