@import '../../settings/prefix';

@mixin radio-button {
  .#{$prefix}-radio-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .#{$prefix}-radio-button__input {
    @include visually-hidden;
  }

  .#{$prefix}-radio-button__label {
    @include type-style('label-01');

    position: relative;
    display: inline-flex;
    align-items: center;
    color: $radio-button-color-text;
    cursor: pointer;
    gap: $radio-button-size-gap;
  }

  .#{$prefix}-radio-button__label-mark {
    position: relative;
    width: calc($radio-button-size-width * 1.125);
    height: calc($radio-button-size-height * 1.125);
    background-color: $radio-button-color-background;
    border-radius: $radio-button-border-radius;
    box-shadow: inset 0 0 0 1px $radio-button-color-border;
    color: $radio-button-color-text;
  }

  .#{$prefix}-radio-button__label-mark::after {
    display: inline-block;
    width: $spacing-2x-small;
    height: $spacing-2x-small;
    background-color: $color-gray-90;
    border-radius: $radio-button-border-radius;
    content: '';
    opacity: 0;
  }

  .#{$prefix}-radio-button__input:checked
    + .#{$prefix}-radio-button__label
    .#{$prefix}-radio-button__label-mark::after {
    opacity: 1;
  }

  .#{$prefix}-radio-button__input:focus-visible
    + .#{$prefix}-radio-button__label
    .#{$prefix}-radio-button__label-mark {
    outline: 2px solid $radio-button-color-focus-border;
    outline-offset: 1px;
  }

  .#{$prefix}-radio-button__input:disabled + .#{$prefix}-radio-button__label {
    color: $radio-button-color-disabled-text;
    cursor: not-allowed;
  }

  .#{$prefix}-radio-button__input:disabled
    + .#{$prefix}-radio-button__label
    .#{$prefix}-radio-button__label-mark {
    box-shadow: inset 0 0 0 1px $radio-button-color-disabled-border;
  }

  .#{$prefix}-radio-button__input:checked:disabled
    + .#{$prefix}-radio-button__label
    .#{$prefix}-radio-button__label-mark::after {
    background-color: $color-gray-40;
  }
}

@include radio-button;
