

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

@each $size, $value in $icon-scales {
  .icon-#{$size} {
    @include icon-scale($size, $size, $size);
  }
}
